* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(71, 71, 71);
  max-width: 1000px;
  margin: 20px auto;
  border: 1px solid rgb(71, 71, 71);
}

.tab-title {
  font-family: sans-serif;
  padding: 20px;
  cursor: pointer;
  order: 1;
  font-weight: bold;
  color: white;
  transition: 0.3s;
}

.content {
  width: 100%;
  padding: 10px 20px;
  border-top: none;
  background: #fff;
  order: 2;
}

input[type='radio'],
.content {
  display: none;
}

input[type='radio']:checked + .tab-title,
.tab-title:hover {
  background: #fff;
  color: rgb(71, 71, 71);
}

input[type='radio']:checked + .tab-title + .content {
  display: block;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.text:not(:last-child) {
  margin-bottom: 10px;
}

.link {
  color: black;
}

footer {
  text-align: center;
}

